BOOTSTRAP_SERVERS=<bootstrap url>
SCHEMA_REGISTRY_URL=<SR url>
BASIC_AUTH_CREDENTIALS_SOURCE=USER_INFO
SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO=<SR key>:<SR secret>
SASL_JAAS_CONFIG="org.apache.kafka.common.security.plain.PlainLoginModule required username='<API key>' password='<API secret>';"